# {LOCALHOST, TESTNET, MAINNET}
ENVIRONMENT=...

# Connection URL for blockchain
ETHEREUM_PROVIDER=...
GOERLI_PROVIDER=...

# Comma-separated list of public addresses
ETHEREUM_ADDRESSES=...
GOERLIL_ADDRESSES=...

# Comma-separated list of private keys
ETHEREUM_KEYS=...
GOERLI_KEYS=...

# Key for Openzeppelin Defender for contract upgrade programmatically
DEFENDER_TEAM_API_KEY=...

# Secret for Openzeppelin Defender for contract upgrade programmatically
DEFENDER_TEAM_API_SECRET_KEY=...

# Provider URL when forking mainnet for forge tests
ETHEREUM_FORK_PROVIDER_URL=...
GOERLI_FORK_PROVIDER_URL=...

# Block number to simulate when 
ETHEREUM_FORK_BLOCK_NUMBER=...
GOERLI_FORK_BLOCK_NUMBER=...
